

**/svgs/**
server/public/**

/coverage
**/node_modules/**

.DS_Store
.env
npm-debug.log*
.idea
/.idea/*
npm-debug.log
.gitattributes

**/knexfile.js
**/axiosFile.js
~/package-lock.json

**/package-lock.json
client/public/dist/index.html
client/public/dist/0.index.js