@import "../globals.scss";

/*
        Header
 */

.Header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
/*
      Static Header
 */

.HeaderStatic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $header-background;
}

.UserGreeting {
  display: inline-block;
  background-color: $greeting-background;
  color: $greeting-color;
}

.ProfileButton {
  display: flex;
  align-items: center;

  background-color: $color-profile-button;

  text-align: right;
  padding: 0 10px 0 10px;
  border-radius: 10px;
}

.ProfileButton .button h1 {
  display: inline-block;
  width: auto;
}

.ProfileButton img {
  display: inline-block;
  height: 60px;

}

/*
    Dyanmic Header
 */

.HeaderDynamic {
  position: relative;
  height: 0px;
  background-color: purple;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.ProfileDropdown {
  position: absolute;
  background: $color-secondary;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.ProfileDropdown h1 {
  width: 100%;
  text-align: center;

  margin: 4px 0 4px 0;
  padding: 0 14px 0 14px;
  display: inline-block;
  background-color: white;
}
