@import "../globals.scss";

/*
        Header
 */

.Header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 25px;
  line-height: 24px;
  text-rendering: optimizeLegibility;
}

.Header button:first-of-type {
  margin-left: 20px;
}

.Header button {
  padding: 5px 10px;
  margin-left: 10px;
  background: $header-button-color;
  color: white;
  border-radius: 5px;
  border: 0px;
  font-size: 18px;
  cursor: pointer;
}

.Header button:hover {
  background: $header-button-hover;
}