@import "../globals.scss";


.RequestPanelContainer {
  display: flex;
  flex-direction: column;
}

.RequestFilters {
  display: flex;
}

.SortFilters {
  flex-grow: 2;
}

.ShowFilters {
  flex-grow: 1;
}

.SortFilters {
  display: flex;
  align-items: center;
}

.SortFilters button {
  background: $sort-filters-background;
  padding: 1em;
  color: $sort-filters-color;
  border-radius: 10px;
}

.ShowFilters {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ShowFilters button {
  background: $show-filters-background;
  padding: 1em;
  color: $show-filters-color;
  border-radius: 10px;
}



.RequestPanel {
  display: flex;
  flex-direction: column;
  background-color: $content-background;
}


.RequestHeader {
  margin: 15px 0 15px 0;
}
.RequestRow {
  display: flex;
  justify-content: space-around;
}

.RequestColumn {
  text-overflow: ellipsis;
}
@import "../globals.scss";