html {
    background-color: yellow;
}

body {
    margin: 0px;
    background-color: blue;
    width: 98%;
    height: 96%;
}

#App {
    border-radius: 10px;
    background-color: red;
}


.NavBar {
    background-color: red;
}

.Content {
    padding-left: 10%;
    padding-right: 10%;
    background-color: blue;
}

.navLink {
    display: inline-block
}

.NavBar ul {
    margin: 0;
}



h1 {
    margin: 0;
}
