@import "../globalVariables";

.CommentHistoryContainer {
  width: 96%;
  display: inline-block;
  background: green;
}

.comment {
  padding: .3em .1em;
  text-align: left;
}

.comment * {
  text-align: left;
  padding: .1em .1em;
}

.comment h2 {
  display: inline-block;
  text-decoration: underline;

}
.comment h3 {
  display: inline-block;
}

.comment h4 {
  font-size: .85em;
}

