/*
    GENERAL CSS
 */

* {
    font-family: cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: none;
    border-width: 0px;
    text-align: center;
    vertical-align: top;
}

* {
    font-size: 1em;
}

#app {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #3d607f 50%, #414042 100%);
}

/*
############################################################################
############################################################################
####################      Approver        ##################################
############################################################################
############################################################################

*/

.ApproverContainer {
    width: 1000px;
    max-width: 100%;
    display: inline-block;
}


/*
############################################################################
############################################################################
####################      Filters         ##################################
############################################################################
############################################################################

*/

.block {
    
}
.RequestFilters {
    margin-top: 10px;
}

.FilterButtons {
    display: inline-block;
}


/* Dropdown Button */
.FilterButton {
    margin: 2px;
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    color: black;
    background-color: white;
}

.FilterButton:hover {
    background-color: #4c3d7f;
    color: white;
}

.Breakpoint {
    display: inline-block;
}


.FilterOptions {
    margin-top: 10px;
    
    color: white;
    display: none;
}

.FilterOptions a {
    margin: 2px;
    padding: 7px;
    background-color: #4c3d7f;
    color: white;
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #414782;
}



.FilterOptions {
    display: inline-block;
}

.ApproverFilter {
    background-color: #4c3d7f;
    color: white;
}
/*
*/
/*
############################################################################
############################################################################
####################      Headers         ##################################
############################################################################
############################################################################

*/

.RequestHeaders {
    padding: 5px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.RequestHeaderColumn {
    display: inline-block;
    width: 32%;
}

@media only screen and (min-width: 410px) {
    /* Dropdown Button */
    .RequestHeaderColumn {
        width: 19%;
    }
}

@media only screen and (min-width: 650px) {
    /* Dropdown Button */
    .RequestHeaderColumn {
        width: 16%;
    }
}

.RequestHeaderColumn * {
    margin: 0px;
}

/*
############################################################################
############################################################################
####################    RequestsContainer ##################################
############################################################################
############################################################################

*/
.RequestsContainer {
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), 14px 14px 20px 0 rgba(0, 0, 0, 0.19);
    background: white;
}

@media only screen and (max-width: 1000px) {
    /* Dropdown Button */
    .RequestsContainer {
        border-radius: 0px;;
        box-shadow: none;
    }
}

.request:nth-child(even) {
    background: #c9d3e0;
}

.request {
    padding: 5px 0px;
}

.requestColumn {
    width: 32%;
    display: inline-block;
    vertical-align: middle;
}

@media only screen and (min-width: 410px) {
    /* Dropdown Button */
    .requestColumn {
        width: 19%;
    }
}


@media only screen and (min-width: 650px) {
    /* Dropdown Button */
    .requestColumn {
        width: 16%;
    }
}


/*
############################################################################
############################################################################
####################    Attributes        ##################################
############################################################################
############################################################################

*/


.AttributesContainer {
    margin-top: 5px;
    display: inline-block;
    width: 95%;
}

.AttributesContainer h1 {
    text-decoration: underline;
}

@media only screen and (min-width: 650px) {
    /* Dropdown Button */
    .AttributesContainer {
        width: 32%;
    }
}

.AttributesBox {
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    background-color: #c9d3e0;
}

.request:nth-child(even) .AttributesBox {
    background: white;
}

.AttributeKey {
    width: 48%;
    display: inline-block;
}

.AttributeValue {
    width: 48%;
    display: inline-block;
}


/*
############################################################################
############################################################################
####################    Comments        ##################################
############################################################################
############################################################################
*/

.CommentHistoryContainer {
    margin-top: 5px;
    display: inline-block;
    width: 95%;
}

.CommentHistoryContainer h1 {
    text-decoration: underline;
}

@media only screen and (min-width: 650px) {
    /* Dropdown Button */
    .CommentHistoryContainer {
        width: 32%;
    }
}

.CommentHistoryBox {
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    background-color: #c9d3e0;
}

.request:nth-child(even) .CommentHistoryBox {
    background: white;
}

.CommentDetails {
    text-align: right;
}
.CommentDetails a {
    display: inline-block;
    text-decoration: none;
    font-size: .8em;
}

.CommentBodyContainer {
    width: 96%;
}

.CommentBody {
    color: white;
    padding: 5px;
    min-height: 1em;
    display: inline-block;
    border-radius: 10px;
}

.OldComment .approved {
    background-color: #3d7f5c;
}

.OldComment .rejected {
    background-color: #7f443d;
}
/*
############################################################################
############################################################################
####################    Create Comment       ##################################
############################################################################
############################################################################
*/

.CreateCommentContainer {
    margin-top: 5px;
    display: inline-block;
    width: 95%;
}

.CreateCommentContainer h1 {
    text-decoration: underline;
}

@media only screen and (min-width: 650px) {
    /* Dropdown Button */
    .CreateCommentContainer {
        width: 32%;
    }
}

.CreateCommentInput {
    min-height: 5em;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    text-align: left;
    background-color: #c9d3e0;
}

.request:nth-child(even) .CreateCommentInput {
    background: white;
}

.CreateCommentButtons {
    padding-top: 3px;
}
.AcceptButton {
    display: inline-block;
    color: white;
    background: green;
    border-radius: 10px;
    padding: 5px;
}
.RejectButton {
    display: inline-block;
    color: white;
    background: #9e1f06;
    border-radius: 10px;
    padding: 5px;
}
