/*
    GENERAL CSS
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: none;
    border-width: 0px;
    text-align: center;
}

h1 {
    font-size: 2em;
    color: white;
}

#app {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #3d607f 50%, #414042 100%);
}

/*
############################################################################
############################################################################
####################      LOGIN           ##################################
############################################################################
############################################################################

*/

.LoginContainer {
    max-width: 90%;
    margin: 20px;
    padding: 50px 60px;
    background: white;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), 14px 14px 20px 0 rgba(0, 0, 0, 0.19);
    
}

@media only screen and (min-width: 600px) {
    .LoginContainer {
    }
}




.LoginInputRow {
    display: block;
    margin-bottom: 15px;
    display: block;
    text-align: left;
}

.LoginButton {
    margin-top: 10px;
    height: 3em;
    width: 100%;
    border-radius: 5px;
    background: #4f7ea8;
    color: white;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.2), 6px 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input {
    font: small-caption;
    height: 20pt;
    font-size: 1em;
    padding: 0 0 0 .25em;
    outline: none;
}

@media only screen and (min-width: 600px) {
    
}