@import "../globalVariables";

.PageChanger {
  margin-top: 10px;
  display: inline-block;
}

.PageChanger * {
  vertical-align: middle;
  display: inline-block;
  margin: 0px 2px;
  padding: 4px;
  border: none;
  border-radius: 10px;
  color: black;
  background-color: white;
}
.PageBack, .PageForward {
  cursor: pointer;
}

.PageNumber {
  cursor: default;
}
.hiddentext h1 {
  cursor: default;
}

.PageChanger .rippleButton .ripple {
  background: green;
}