@import "../globalVariables";

.RequestFilters {
  margin-top: 8px;
  position: relative;
}

.FilterButton {
  z-index: 2;
  margin: 2px 2px;
  padding: 8px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  color: $primary-text-color;
  background-color: $primary-color;
  display: inline-block;
}

.FilterButton:hover {
  background-color: $highlight-color;
}

.FilterButton:hover h1 {
  color: $highlight-text-color;
}

.FilterOptions {
  z-index: 1;
  position: relative;
  display: block;
  overflow: hidden;
}

.FilterOptions a {
  margin: 2px;
  padding: 7px;
  background-color: $highlight-color;
  color: $highlight-text-color;
  display: inline-block;
  border-radius: 10px;
}

.FilterOptions a:hover {
  cursor: pointer;
  color: $primary-text-color;
  background-color: $primary-color;
}


.ActiveFilter {
  background-color: $highlight-color;
}
.ActiveFilter h1 {
  color: $highlight-text-color;
}



.RequestFilters .show {
  transition: max-height 1.5s ease-in;
  max-height: 110px;
}

.RequestFilters .hidden {
  transition: max-height 1.5s;
  max-height: 0px;
}

@keyframes swing-up {;
  animation: swing-up 1.5s;
  from {
    max-height: 110px;
  }
  to {
    max-height: 0px;
  }
}

@keyframes swing-down {
  from {
    max-height: 0px;
  }
  to {
    max-height: 110px;
  }
}


