$background: linear-gradient(to bottom, #3d607f 50%, #414042 100%);

$primary-color: white;
$primary-text-color: black;
$primary-button-color: #4f7ea8;

$alternate-color: #c9d3e0;
$alternate-text-color: white;

$highlight-color: #4c3d7f;
$highlight-text-color: white;  

$login-box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), 14px 14px 20px 0 rgba(0, 0, 0, 0.19);
$content-box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), 14px 14px 20px 0 rgba(0, 0, 0, 0.19);