$font-family-one: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$font-family-two: Roboto,sans-serif;

$text-color-default: black;

$app-background: #ffaaff;
$content-background: #aaffaa;
$color-secondary: lightblue;

$header-background: $app-background;
$greeting-background: $app-background;
$greeting-color: white;
$color-profile-button: lightgrey;

$settings-panel-size: 80%;
$settings-background: lightgray;
$settings-panel-top-margin: 30px;
$settings-header-size: 2.5em;
$setting-exit-size: 5em;

$sort-filters-background: black;
$sort-filters-color: white;

$show-filters-background: #ff00cc;
$show-filters-color: white;