@import "./foundation/foundation";@import "./foundation/foundation";

@import "./globals.scss";
@import "./custom/index.scss";

.FloatRightContainer {
  position: relative;
  height: 0px;
  background-color: purple;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


/*
  Panels
 */


/*
      SettingsPanel
 */



