@import "../globalVariables";

.listContainer {
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: $content-box-shadow;
  background: $primary-color;
}

@media only screen and (max-width: 1000px) {
  /* Dropdown Button */
  .listContainer {
    border-radius: 0px;
    box-shadow: none;
  }
}