@import "../../globals";

.RequestRightSide {
  width: 50%;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.CommentContainer {
  height: 50px;
  min-height: 200px;
  overflow-y: auto;
  flex-grow: 1;
}

.Comment {
  padding: 2px;
  display: flex;
  flex-direction: column;
}

.CommentContent {
  display: flex;
  flex-flow: row wrap;
}

.Author {
  font-weight: bold;
  padding-right: 10px;
}

.CommentDate {
  font-size: 12px;
}
.CreateComment {
  margin-top: 10px;
  display: flex;
  align-content: center;
}

.CreateComment textarea {
  padding: 5px;
  height: 60px;
  width: 80%;
}

.CreateComment .Submit {
  flex-grow: 1;
  background: none;
  border: 1px solid $border-light-color;
  padding: 5px 10px;
  margin-left: 10px;
  color: $header-button-color;
  border-radius: 5px;
}

.CreateComment .Submit:hover {
  border-color: $border-color;
}

.UpdateRequest {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.UpdateRequest button {
  padding: 10px 15px;
  margin-left: 10px;
  color: white;
  border-radius: 5px;
  width: 40%;
}

.UpdateRequest .Accept {
  background: green;
}

.UpdateRequest .Accept:hover {
  background: darkgreen;
}

.UpdateRequest .Reject {
  background: Red;
}

.UpdateRequest .Reject:hover {
  background: darkred;
}

